# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data folders
data/raw/
data/processed/

# Virtual environments
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db